<!DOCTYPE html>
<html>

<head>
    <title>Weather Station</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Montserrat", sans-serif
        }

        /* Set the width of the sidebar to 120px */
        .w3-sidebar {
            width: 120px;
            background: #222;
        }

        /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
        #main {
            margin-left: 120px
        }

        /* Remove margins from "page content" on small screens */
        @media only screen and (max-width: 600px) {
            #main {
                margin-left: 0
            }
        }
        footer a{
            padding-right: 20px;
            text-decoration: none;
        }
    </style>
</head>

<body class="w3-black">
        {% load static %}
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">

        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class=""></i>
                <img src="{% static 'weather/logo.png' %}" style="width:100%;">
            <p style="margin-bottom: 2px;">WEATHER</p>
            <hr style="margin: 0px 3px">
        </a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>HOME</p>
        </a>
        <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>SERVICE</p>
        </a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>ABOUT</p>
        </a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-envelope w3-xxlarge"></i>
            <p>CONTACT</p>
        </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
            <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">SERVICE</a>
            <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
            <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
        </div>
    </div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Ahm Raz</h1>
            <p>Web Designer and Application Developer</p>
            <img src="{% static 'weather/logo.png' %}" alt="boy" class="w3-image" width="300" height="auto">
        </header>

        <!-- Service Section -->

        <!-- Portfolio Section -->
        <div class="w3-padding-64 w3-content" id="photos">
            <h2 class="w3-text-light-grey">Wheather Station</h2>
            <hr style="width:200px" class="w3-opacity">

            <!-- Grid for photos -->
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half" style="text-align: justify;">
                    <p>Hi, We are providing free wheather checking services. Please enter your city name below to get
                        information about the current wheater of any city. Kindly make sure that the city name you
                        entered must be a valid city name. Please don't enter any invalid city name like adfa, asdiao,
                        lasaea, etc...
                    <form action="/checkWeather" method="get">
                        <h3>Enter your City name : </h3>
                        
                        <input type="text" name="city"
                            style="background-color:antiquewhite; color: black; padding: 3px; font-weight: bold;">
                        <button type="submit">Check now</button>
                    </form>
                    </p>
                </div>

                <div class="w3-half">

                    <!-- <p class="demo">  </p> -->
                    <p id="demo2" style="color: white; text-align: justify;"> </p>
                </div>
                <!-- End photo grid -->
            </div>
            <!-- End Portfolio Section -->
        </div>


        <!-- About Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
            <h2 class="w3-text-light-grey">M Ifraheem</h2>
            <hr style="width:200px" class="w3-opacity">
            <p id="demo" style="color:white">  </p>
            <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
            <p class="w3-wide" style="color: white">Python Development</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:70%"></div>
            </div>
            <p class="w3-wide" style="color: white">Django Web development</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:85%"></div>
            </div>
            <p class="w3-wide" style="color: white">Flask Web development</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:30%"></div>
            </div><br>

            <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">11+</span><br>
                    Partners
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">55+</span><br>
                    Projects Done
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">89+</span><br>
                    Happy Clients
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">150+</span><br>
                    Meetings
                </div>
            </div>

        </div>


        <!-- Contact Section -->
        <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
            <h2 class="w3-text-light-grey">Contact Me</h2>
            <hr style="width:200px" class="w3-opacity">

            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Kotli Azad Kashmir</p>
                <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +92 3018592729</p>
                <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: afraheemraz798@gmail.com
                </p>
            </div><br>
            <p>Let's get in touch. Send me a message:</p>

            <form action="/userMessage" target="_blank">
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-button w3-light-grey w3-padding-large" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
            <!-- End Contact Section -->
        </div>
      
        <!-- Footer -->
        <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
            <a href="https://www.facebook.com/profile.php?id=100009444696591">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
            </a>
            <a href="https://www.instagram.com/ahm_raz_789/">
                <i class="fa fa-instagram w3-hover-opacity"></i>
            </a>

            <a href="https://www.pinterest.com/afraheemraz/">
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            </a>
            <a href="https://www.linkedin.com/in/m-ifraheem-597729268/">
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </a>
            <p class="w3-medium">Developed by Ahm Raz</p>
            <!-- End footer -->
        </footer>
        <!-- END PAGE CONTENT -->
    </div>


    <script>
        var i = 0;
        var txt = 'Hello, my name is M Ifraheem and I am a software engineering student at the University of Kotli. I have a strong passion for software development and I am particularly skilled in Python development, Django, HTML, and CSS. I have experience in developing web applications using Python and Django, as well as creating responsive and dynamic web pages using HTML and CSS. I am a dedicated and motivated individual who is always eager to learn new things and take on new challenges. I believe that my skills in software development, coupled with my passion for learning and growth, will make me a valuable asset to any team or project that I work on. I am excited about the opportunities that lie ahead and I am eager to continue my journey as a software engineer.      Thank you...!';
        var speed = 50;
        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("demo").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
        }

        typeWriter();

    </script>

</body>

</html>